<%- include _header %>


    <div class="row margin-left:5%;" style="margin-left: 32%; margin-bottom: 0%">
        <div class="col s5  deep-orange lighten-1 white-text text-darken-2">
            <div class="card ">
                <span class="card-title ">Pérdimos tu página :C</span>
                <div class="card-image">
                    <img src="/recursos/zombie404.jpg.png" style="width:60%;">

                </div>

            </div>
        </div>
    </div>
    <div class="col s5  deep-orange lighten-1 white-text text-darken-2" style="margin-top:0px;">
        <div class="card-title" style="margin-left:25%">
            No hemos encontrado tu página. Intenta buscar en otra parte :b.
        </div>
    </div>


    <%- include _footer %>