<%- include _header %>

<% if((currentZombie) && (currentZombie.id === zombie.id)) {%>
    <a href="/edit">Edita tu perfil</a>
<% } %>

<h1><% zombie.username %></h1>
<h2>Se registró el <%= zombie.createdAt %></h2>

<% if(zombie.bio){ %>
    <p><%= zombie.bio %></p>
<% } %>

<%- include _footer %>